# Logs
logs
*.log
npm-debug.log*

# Dependency directories
node_modules/

# Environment variables
.env

# Build output
dist/
build/

# IDE and editor directories and files
.idea/
.vscode/
*.swp
.DS_Store

# System files
Thumbs.db
